include ../../components/count-buttons/count-buttons.pug

mixin dropdown(type)
    div(class="dropdown")
        div(class="dropdown__field")
            div(class="dropdown__field-text")
                - if (type == 'guests')
                    = 'Сколько гостей'
                - if (type == 'rooms')
                    = '2 спальни, 2 кровати...'
            div(class="dropdown__field-icon" )
                object(type="image/svg+xml" data="fonts/expand_icon.svg")
        div(class="dropdown__content")
            - if (type == 'guests')
                - var listVals = [['adults','взрослые'],['kids','дети'],['babies','младенцы']]
            - if (type == 'rooms')
                - var listVals = [['bedrooms','спальни'],['beds','кровати'],['bath','ванные комнаты']]
            each val in listVals
                +count-buttons(val[0],val[1])
            - if (type == 'guests') 
                div(class="dropdown__footer")
                    div(class="dropdown__footer-clear") Очистить
                    div(class="dropdown__footer-apply") Применить


//- mixin dropdown(name, btns_needed, listVals)
//-     div(class="dropdown")
//-         div(class="dropdown__field")
//-             div(class="dropdown__field-text")
//-                 = name
//-             div(class="dropdown__field-icon" )
//-                 object(type="image/svg+xml" data="fonts/expand_icon.svg")
//-         div(class="dropdown__content")
//-             each val in listVals
//-                 +count-buttons(val[0],val[1])
//-             - if (btns_needed) 
//-                 div(class="dropdown__footer")
//-                     div(class="dropdown__footer-clear") Очистить
//-                     div(class="dropdown__footer-apply") Применить
            