mixin dropdown(name, placeholder)
    div(class="dropdown-container")
        div(class="dropdown-text")
        div(class="dropdown-object")
            //span(class="dropdown-object-icon")
            object(type="image/svg+xml" data="fonts/expand_icon.svg")
        
            
        
