button:focus {
  outline: none;
}

.calendar-container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.calendar-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.calendar-header__month-year {
  font-family: 'Conv_Montserrat-Bold', Sans-Serif;
  font-size: 18px;
}

.calendar-header__button {
  border: 0;
  background-color: transparent;
}

.calendar-header__arrow {
  cursor: pointer;
  color: #BC9CFF;
}

.calendar-grid-container {
  margin-top: 23px;
}

#dropdown__field-calendar {
  border-radius: 4px 4px 4px 4px;
}

.dropdown__content-calendar {
  display: block;
  width: 100%;
  margin-top: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: 1;
  border-radius: 4px 4px 4px 4px;
}

.day-of-week,
.calendar-date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-date-grid button:first-child {
  grid-column: 1;
}

.day-of-week>* {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-family: 'Conv_Montserrat-Bold', Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BC9CFF;
}

.calendar-date-grid button time {
  font-size: 12px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.calendar-date-grid button {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;

  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: rgba(31, 32, 65, 0.5);
}

.calendar-date-grid__cover_start {
  position: absolute;
  margin: 0 auto;
  display: inline-block;
  border-radius: 50% 0 0 50%;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.calendar-date-grid__cover_end{
  position: absolute;
  margin: 0 auto;
  display: inline-block;
  border-radius: 0 50% 50% 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.calendar-date-grid__cover{
  position: absolute;
  margin: 0 auto;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.calendar-date-grid__button-text_light time {
  color: rgba(31, 32, 65, 0.25);
}

.calendar-date-grid__button_pink {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #FFFFFF !important;
  font-weight: bold;
  z-index: 2;
}

.calendar-date-grid button:active,
.calendar-date-grid button.is-selected,
.calendar-date-grid button:focus {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  color: #FFFFFF;
  font-weight: bold;
}

.calendar__footer {
  margin-top: 20px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 37px;
}

.calendar__footer-apply,
.calendar__footer-clear {
  font-family: 'Conv_Montserrat-Bold', Sans-Serif;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  display: flex;
}

.calendar__footer-clear {
  color: rgba(31, 32, 65, 0.5);
}

.calendar__footer-apply {
  color: #BC9CFF;
}