
mixin date-dropdown(type)
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    div(class="dropdown" id="dropdown-"+type)
        div(class="dropdown__field" id="dropdown__field-"+type)
            div(class="dropdown__field-text" id="dropdown__field-text-"+type) 
                = "currentDate"
            div(class="dropdown__field-icon" )
                object(type="image/svg+xml" data="fonts/expand_icon.svg")
        div(class="dropdown__content" id="dropdown__content-"+type)

            div(class="dropdown__content-items" id="dropdown__content-items-"+type)
                
                -var weekDays = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"];

                    -var monthDays = [28, 29, 31, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 1];

                    .calendar-container
                        .calendar-header
                            button(class = "calendar-header__button")
                                i(class="material-icons calendar-header__arrow") arrow_back
                                //object(type="image/svg+xml" data="fonts/ic_arrow_back_24px.svg" class="calendar-header__arrow")
                            .calendar-header__month-year
                                ="Август 2019"
                            button(class = "calendar-header__button")
                                i(class="material-icons calendar-header__arrow") arrow_forward
                                //object(type="image/svg+xml" data="fonts/ic_arrow_forward_24px.svg" class="calendar-header__arrow")
                        .calendar-grid-container
                            .day-of-week
                                    each val in weekDays
                                        div= val
                            .calendar-date-grid
                                each val, index in monthDays
                                    - if(index == 0 || index == 1 || index == 2 || index == 34)
                                    button(class="calendar-date-grid__button-text_light")
                                        time(datetime="2019-02-"+ val)
                                             =val
                                    - else if(index == 21)
                                    button(class="calendar-date-grid__button_pink")
                                        time(datetime="2019-02-"+ val)=val
                                        span(class="calendar-date-grid__cover_start")
                                            //.calendar-date-grid__cover-area
                                    - else if(index == 22|| index == 23 || index == 24)
                                    button()
                                        time(datetime="2019-02-"+ val)=val
                                        span(class="calendar-date-grid__cover")
                                    - else if(index == 25)
                                    button(class="calendar-date-grid__button_pink")
                                        time(datetime="2019-02-"+ val)=val
                                        span(class="calendar-date-grid__cover_end")
                                    - else   
                                    button
                                        time(datetime="2019-02-"+ val)
                                             =val    
                        div(class="calendar__footer")
                            div(class="calendar__footer-clear") Очистить
                            div(class="calendar__footer-apply") Применить

    //-    <button> .calendar-date-grid
    //-     <time datetime="2019-02-01">1</time>
    //-   </button>
    //-                     //- section.task.task--warning Projects
                        //- section.task.task--danger Design Sprint
                        //- section.task.task--primary Product Checkup 1
                        //- .task__detail
                        //-     h2 Product Checkup 1
                        //-     p 15-17th November
                        //- section.task.task--info Product Checkup 2

                    

//- mixin count-buttons(_id, text)
//-     div(class="dropdown__content-items")
//-         div(class="dropdown__content-text") 
//-             = text
//-         div(class="dropdown__content-btns") 
//-             div(class="dropdown__content-btns-rectgl" id='dropdown__'+_id+'-count-minus') -
//-             div(class="dropdown__content-btns-value" id='dropdown__'+_id+'-count') 
//-             div(class="dropdown__content-btns-rectgl" id='dropdown__'+_id+'-count-plus') +
    mixin date-dropdown(type)
    div(class="dropdown" id="dropdown-"+type)
        div(class="dropdown__field" id="dropdown__field-"+type)
            div(class="dropdown__field-text" id="dropdown__field-text-"+type) 
                    = 'ДД.ММ.ГГГГ'
            div(class="dropdown__field-icon" )
                object(type="image/svg+xml" data="fonts/expand_icon.svg")
        div(class="dropdown__content" id="dropdown__content-"+type)
            div(class="dropdown__content-items")
                div(class="dropdown__content-text") 
                    = 'ghtdtkkfg'


    mixin date-dropdown(type)
    div(class="dropdown" id="dropdown-"+type)
        div(class="dropdown__field" id="dropdown__field-"+type)
            input(type="date" value="2017-06-01" class="dropdown__field-text" id="dropdown__field-text-"+type) 
            
            div(class="dropdown__field-icon" )
                object(type="image/svg+xml" data="fonts/expand_icon.svg")
        div(class="dropdown__content" id="dropdown__content-"+type)
            div(class="dropdown__content-items")
                div(class="dropdown__content-text") 
                    = 'ghtdtkkfg'