.dropdown__content-btns {
    display: flex;
    align-items: flex-end;
  }
  
  .dropdown__content-btns-rectgl {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding-bottom: 1px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
  
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  
    color: rgba(31, 32, 65, 0.5);
  }
  
  
  .dropdown__content-btns-value {
    padding-bottom: 2px;
    display: flex;
    width: 32px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
  
    align-items: center;
    text-align: center;
    justify-content: center;
  
    /* Dark 100% */
  
    color: #1F2041;
  }

  .dropdown__content-btns-rectgl_light {
    border: 1px solid #EAEAED;
    color: #EAEAED;
  }
  
  .dropdown__content-btns-rectgl {
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
  }