
@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url("fonts/Montserrat-Regular.eot");
	src: local('☺'), url("fonts/Montserrat-Regular.woff") format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import 'components/text-field/text-field.scss';
@import 'components/dropdown/dropdown.scss';

* {
  font-family:'Conv_Montserrat-Regular',Sans-Serif;
  background-color:  rgb(255, 255, 255);
  font-size: 48px;
};
