html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Webpack app
    link(rel="stylesheet" type="text/css" href="main.css")
    body

        include components/text-field/text-field.pug
        div
            +text-field('Email','Email')
        div
            +text-field('Login','Login')
        div
            +text-field('^','^')
        br
        br
        h1 Test Test
        br
        
        include components/dropdown/dropdown.pug
        div
            //- - var listVals = [['adults','Взрослые'],['kids','Дети'],['babies','Младенцы']]
            //- +dropdown('Сколько гостей', true, listVals)
            +dropdown('guests')

        br
        div
            +dropdown('rooms')
        
        br
        
        include components/date-dropdown/date-dropdown.pug
        div
            //- - var listVals = [['adults','Взрослые'],['kids','Дети'],['babies','Младенцы']]
            //- +dropdown('Сколько гостей', true, listVals)
            +date-dropdown('calendar')

        br

        
    script(src="./main.js")